# Frontend Environment Variables
# Copy this file to .env and fill in the values

PORT=5173

# URL of the locally running API server
VITE_API_URL=https://cdsi-backend-final-ajhxc8ehgucvdndq.eastasia-01.azurewebsites.net
